<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ismail.myapplication">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="Contents"
            android:parentActivityName=".MainActivity"

            />
        <activity
            android:name=".Set"
            android:label="@string/set" />
        <activity
            android:name=".Function"
            android:label="@string/function" />
        <activity
            android:name=".Recurrence"
            android:label="@string/recurrence" />
        <activity
            android:name=".Linear_recurrence"
            android:label="@string/linear_recurrence" />
        <activity
            android:name=".Inclusion_Exclusion"
            android:label="@string/Inclusion_exclusion" />
        <activity
            android:name=".Graph_terminology"
            android:label="@string/Graph_terminology" />
        <activity
            android:name=".Types_of_Graphs"
            android:label="@string/types_of_terminology" />
        <activity android:name=".Welcome_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>